.modalWindow__form{
    text-align: center;
}

.inputHolderWrapper{
    margin: 0 -1%;
}

.inputHolderWrapper::after{
    content: '';
    display: table;
    clear: both;
}

.inputHolderBlock{
    float: left;
    width: 48%;
    margin: 0 1%;
}

.modalWindow__input{
    border: 0;
    display: block;
    padding: 11px;
    width: 100%;
    margin-bottom: 21px;
    font-size: 16px;
    line-height: 20px;
    border-radius: 0;
}

.modalWindow__input_topRow{
    border: 1px #e8e8e8 solid;
    margin: 0 0 18px;
    width: 100%;
    padding: 16px;
}

.modalWindow__formLabel{
    line-height: 22px;
    margin-bottom: 4px;
    display: inline-block;
}

.modalWindow__textrarea{
    display: block;
    background-color: #fff;
    border: 1px #e8e8e8 solid;
    height: 120px;
    font-size: 16px;
    line-height: 20px;
    padding: 16px;
    width: 100%;
    margin-bottom: 18px;
}

.modalWindow__polyciWrapper{
    margin-bottom: 30px;
}

.checkbox_personal{
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

.modalWindowButtons{
    color: #000;
    display: inline-block;
    font-family: 'Proxima', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
    background-color: #c9ba61;
    padding: 20px;
    margin-top: 10px;
    text-decoration: none;
    transition: all 283ms ease;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;

    border: 0;
    outline: 0;
    width: 240px;
    letter-spacing: 1.4px;
}

.modalWindow__cancel{
    color: #c9ba61;
    background-color: #fff;
    border: 2px solid #c9ba61;
    padding: 18px 18px;
    margin-right: 10px;
}
